
/* Код для подключения шрифта в /css/stylename.css */

	@font-face {
			font-family: "LatoRegular";
			src: url("../fonts/LatoRegular/LatoRegular.eot");
			src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
			url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBold";
			src: url("../fonts/LatoBold/LatoBold.eot");
			src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoBold/LatoBold.woff") format("woff"),
			url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoItalic";
			src: url("../fonts/LatoItalic/LatoItalic.eot");
			src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
			url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLight";
			src: url("../fonts/LatoLight/LatoLight.eot");
			src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoLight/LatoLight.woff") format("woff"),
			url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBoldItalic";
			src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
			src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
			url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLightItalic";
			src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
			src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
			url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	a {
		text-decoration: none;
	}
	
	body {
		font-family: "LatoRegular";
	}
	
.page
{
    width:100%;
    margin:0;
    background-color:#ffffff;
    font-size:12px;
}

    
.page__head-line
{
    background-color:#D9E1E6;
    height:23px;
    width:100%;
}

.page__header
{
    width: 960px;
    margin: 10px auto;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.page__menu
{
	border: 1px solid #E1E1E1;
    margin: 0 auto;
	height: 45px;
}

.page__content
{
    width: 960px;
    margin: 40px auto;
	display: flex;
	height: 700px;
}

.page__footer
{
	border-top: 1px solid #E1E1E1;
    margin: 0 auto;
	height: 20px;
	text-align: center;
	color: #91999E;
	padding: 20px;
}

.head-line__content{
	 width: 960px;
	 margin: 0 auto;
}

.content__close{
	float: right;
	padding: 3px;
	cursor: pointer;
}

.content__text{
	float: left;
	text-align: center;
	width: 930px;
	padding: 3px;
	font-size:12px;
	color: #91999E;
}

.header__currency{
	width: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	font-size: 22px;
	font-weight: 900;
}

.header__cart{
	height: 30px;
	text-align:center;
}

.cart__button{
	width: 100px;
	border: 1px solid #DED3AA;
	height: inherit;
	background-color:#ffffff;
	cursor: pointer;
	font-size:9px;
}

.currency__img{
	height: 10px;
	width: 12px;
}

.currency__select{
	padding: 5px;
	border: none;
	cursor: pointer;
}
	
.menu__content{
	margin: 0 auto;
	width: 960px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content__img{
	width: 20px;
	cursor: pointer;
}

.links__select{
	ext-align:center;
    color:#000000;
    cursor:pointer;
    font-size:10px;
	font-weight:bold;
	border: none;
}

.table__links{
	width: 600px;
	height: inherit;
	margin: 0 auto;
	display:flex;
	align-items: center;
	justify-content: space-between;
}
.links__link{
	text-align:center;
    color:#000000;
    cursor:pointer;
    font-size:10px;
	font-weight:bold;
}

.link__down{
	margin-bottom: 2px;
}

.dop__like{
	padding-right: 12px;
	border-right: 1px dotted black;
	float: right;
}

.dop__search{
	padding-left: 12px;
	float: right;
}

.dop {
	text-align: center;
	cursor: pointer;
}

.content__images{
	width: 50%;
}

.content__info{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-begin;
	justify-content: flex-begin;
}

.images__main{
	height: 80%;
	width: 100%;
}

.images__several{
	height: 20%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.several__image{
	width: 110px;
	height: 125px;
	cursor: pointer;
	border: 1px solid #EDECED;
}

.item {
	padding: 2px 5px 5px 20px;
}

.info__back {
	font-size: 14px;
}

.currency__down{
	padding: 2px 5px 0 0;
}

.back__text{
	color: #6C6C6C;
}

.text__link{
	color: #68899A;
}

.info__name{
	margin-top: 10px;
	font-size: 25px;
	font-weight: bold;
}

.info__rating{
	display: flex;
	width: 250px;
	justify-content: space-between;
	align-items: center;
}

.rating__review{
	padding-right: 10px;
	border-right: 1px solid #8E8E8E;
	color: #8E8E8E;
}

.rating__img{
	width: 75px;
	height: 25px;
	cursor: pointer;
}

.rating__add{
	text-decoration: underline;
	font-weight: bold;
	color: #000000;
}

.info__price{
	font-size: 25px;
	color: #68899A;
	font-weight: bold;
	margin: 10px 0;
}

.info__characteristic {
	font-size: 14px;
	font-weight: bold;
}

.characteristic__value{
	color: #68899A;
}

.info__description{
	color: #999999;
	font-size: 14px;
}

.description__list{
	padding-left: 15px;
	color: #999999;
	font-size: 14px;
}

.info__buttons{
	display: flex;
	margin-top: 20px;
}

.buttons__cart{
	height: 45px;
	width: 200px;
	background-color: #000000;
	color: #ffffff;
	padding: 5px;
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

.buttons__wishlist{
	height: 45px;
	width: 200px;
	background-color: #ffffff;
	color: #000000;
	padding: 5px;
	border: 1px solid grey;
	cursor: pointer;
	font-size: 12px;
	margin-left: 10px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wishlist__img{
	margin-right: 10px;
}

.info__share{
	font-weight: bold;
	margin: 50px 0 0 20px;
	padding: 20px 0;
	border-top: 1px solid #8E8E8E;
	border-bottom: 1px solid #8E8E8E;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.share__fb{
	border: none;
	background-color: #4863B7;
	color: #95A2CE;
	height: 25px;
	border-radius: 5px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.share__sh{
	border: none;
	background-color: #5774D0;
	color: #95A2CE;
	height: 25px;
	border-radius: 5px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.share__twitter{
	border: 1px solid #CCCCCC;
	height: 25px;
	border-radius: 5px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(#ffffff, #E7E7E6);
	cursor: pointer;
}

.share__pinIt{
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

.info__properties{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0 40px 0;
}

.color__select{
	padding: 5px;
	border: 1px solid #E1E1E1;
	color: #999999;
	width: 150px;
}

.QTY__select{
	padding: 5px;
	border: 1px solid #E1E1E1;
	color: #999999;
}

.color__select option{
	color: #000000;
}

.properties__label{
	font-weight: bold;
}



/*============================*/
/* Main Navigation
/*============================*/
.link__dropdown {            
    height: 50px;
    line-height: 50px;           
}

.link__dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link__dropdown li {    
    position: relative;
    width: 80px;    
}

.link__dropdown li:first-child, .link__dropdown li:first-child a { 
    -webkit-border-radius: 3px 0 0 3px; 
    -moz-border-radius: 3px 0 0 3px; 
    border-radius: 3px 0 0 3px; 
}
.link__dropdown li:last-child, .link__dropdown li:last-child a { 
    -webkit-border-radius: 0 3px 3px 0; 
    -moz-border-radius: 0 3px 3px 0; 
    border-radius: 0 3px 3px 0; 
}

.link__dropdown a {                
    border-right: 1px solid #222;
    border-left: 1px solid #555;
    color: #000000;
    display: block;
    font-size: 10px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 -1px 0 #000;    
    -webkit-box-shadow: inset 0 0 10px transparent;
    -moz-box-shadow: inset 0 0 10px transparent;
}

.link__dropdown a:after {
    background: rgba(255,255,255,.07);
    content: "";
    height: 25px;
    left: 0;
    position: absolute;
    width: 100%;
}

.link__dropdown li:hover > a {
    background: #333;
    border-left-color: #222;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    -webkit-box-shadow: inset 0 0 10px #111;
    -moz-box-shadow: inset 0 0 10px #111;
    box-shadow: inset 0 0 10px #111;
}

.link__dropdown span {
    position: relative;    
}

.link__dropdown a:active span {
    color: #ffd;
    position: relative;
    top: 1px;
}

.link__dropdown li:first-child a {
    border-left: none;    
}

.link__dropdown li:last-child a {
    border-right: none;    
}

.dropdown > a span:after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ccc;
    content: "";
    right: -13px;
    position: absolute;
    top: -1px;
}

.dropdown:hover > a span:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    right: -15px;
    position: absolute;
}

/*============================*/
/* Sub Navigation
/*============================*/
.link__dropdown ul ul {
    opacity: 0;
    position: absolute;
    top: 50px;
    visibility: hidden;
    width: 0;
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out; 
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.link__dropdown ul li:hover ul {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.link__dropdown ul ul li {
    background: #f3f3f3;
    float: none;    
    line-height: 0;
    width: 100%;            
}

.link__dropdown ul ul li:nth-child(odd) {
    background: #eee;    
}

.link__dropdown ul ul li a {
    border-right: none;
    border-left: none;
    border-top: 1px solid #fff;
    color: #555;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 15px;
    text-align: left;
    text-shadow: 0 -1px 0 #eee;
}





