
/* Код для подключения шрифта в /css/stylename.css */

	@font-face {
			font-family: "LatoRegular";
			src: url("../fonts/LatoRegular/LatoRegular.eot");
			src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
			url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBold";
			src: url("../fonts/LatoBold/LatoBold.eot");
			src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoBold/LatoBold.woff") format("woff"),
			url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoItalic";
			src: url("../fonts/LatoItalic/LatoItalic.eot");
			src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
			url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLight";
			src: url("../fonts/LatoLight/LatoLight.eot");
			src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoLight/LatoLight.woff") format("woff"),
			url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBoldItalic";
			src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
			src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
			url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLightItalic";
			src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
			src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
			url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	a {
		text-decoration: none;
	}
	
	body {
		font-family: "LatoRegular";
	}
	
.page
{
    width:100%;
    margin:0;
    background-color:#ffffff;
    font-size:12px;
}

    
.page__head-line
{
    background-color:#D9E1E6;
    height:23px;
    width:100%;
}

.page__header
{
    width: 960px;
    margin: 10px auto;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.page__menu
{
	border: 1px solid #E1E1E1;
    margin: 0 auto;
	height: 45px;
}

.page__content
{
    width: 960px;
    margin: 40px auto;
	display: flex;
	height: 700px;
}

.page__footer
{
	border-top: 1px solid #E1E1E1;
    margin: 0 auto;
	height: 20px;
	text-align: center;
	color: #91999E;
	padding: 20px;
}

.head-line__content{
	 width: 960px;
	 margin: 0 auto;
}

.content__close{
	float: right;
	padding: 3px;
	cursor: pointer;
}

.content__text{
	float: left;
	text-align: center;
	width: 930px;
	padding: 3px;
	font-size:12px;
	color: #91999E;
}

.header__currency{
	width: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	font-size: 22px;
	font-weight: 900;
}

.header__cart{
	height: 30px;
	text-align:center;
}

.cart__button{
	width: 100px;
	border: 1px solid #DED3AA;
	height: inherit;
	background-color:#ffffff;
	cursor: pointer;
	font-size:9px;
}

.currency__img{
	height: 10px;
	width: 12px;
}
.currency__down{
	cursor: pointer;
}

.currency__text{
	width: 20px;
}
	
.menu__content{
	margin: 0 auto;
	width: 960px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content__img{
	width: 20px;
	cursor: pointer;
}


.table__links{
	width: 500px;
	height: inherit;
	margin: 0 auto;
	display:table;
}
.links__link{
	display: table-cell;
	text-align:center;
    color:#000000;
    cursor:pointer;
    font-size:10px;
	font-weight:bold;
}

.link__down{
	margin-bottom: 2px;
}

.dop__like{
	padding-right: 12px;
	border-right: 1px dotted black;
	float: right;
}

.dop__search{
	padding-left: 12px;
	float: right;
}

.dop {
	text-align: center;
	cursor: pointer;
}

.content__images{
	width: 50%;
}

.content__info{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-begin;
	justify-content: flex-begin;
}

.images__main{
	height: 80%;
	background: url(../img/main_coat.jpg) no-repeat;
}

.images__several{
	height: 20%;
	width: 100%;
	text-align: center;
}

.several__image{
	width: 90px;
	height: 115px;
	padding: 10px;
}

.item {
	padding: 5px 5px 5px 20px;
}

.info__back {
	font-size: 14px;
}

.currency__down{
	padding: 2px 5px 0 0;
}

.back__text{
	color: #6C6C6C;
}

.text__link{
	color: #68899A;
}

.info__name{
	margin-top: 10px;
	font-size: 25px;
	font-weight: bold;
}

.info__rating{
	display: flex;
	width: 250px;
	justify-content: space-between;
	align-items: center;
}

.rating__review{
	padding-right: 10px;
	border-right: 1px solid #8E8E8E;
	color: #8E8E8E;
}

.rating__img{
	width: 75px;
	height: 25px;
	cursor: pointer;
}

.rating__add{
	text-decoration: underline;
	font-weight: bold;
	color: #000000;
}

.info__price{
	font-size: 25px;
	color: #68899A;
	font-weight: bold;
	margin: 10px 0;
}
